.head1 {
    border: solid 5px orange ;
    width: 93%;
    margin-left: 50px;
    margin-right: 50px;
  }
.botton {
  width: 95%;
  margin-left: 50px;
  margin-right: 50px;
}
  .btn2 {
    border: 2px solid green;
    border-radius: 5px; /* Add the border-radius property to create rounded outline buttons: */
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 12px;
    cursor: pointer;
  }
  /* Green */
.succes2 {
    border-color: green;
    color: green;
  }
  
  .success2:hover {
    background-color: green;
    color: white;
  }
  /* Blue */
  .info2 {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info2:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .warning2 {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning2:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .danger2 {
    border-color: #f44336;
    color: red
  }
  
  .danger2:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .default2 {
    border-color: #e7e7e7;
    color: black;
  }
  .default2:hover {
    background: #e7e7e7;
  }
  .alert {
    padding: 30px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    font-size: 22px;
  }
  /* The close button */
.closebtn {
  margin-right: 50px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 50px;
  line-height: 20px;
  cursor: pointer;
  transition: 3.5s;
}
  .video {
    margin-left: 55px;
    margin-right: 50x;
  }
  .this {
    width: 95%;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
  }
  .penglish {
    margin-left: 50px;
    font-size: 25px;
    text-align: justify;
  }
  .parabic {
    text-align: right;
    font-size: 25px;
    margin-right: 50px;
  }
  h1 {
    text-align: center;
    color: red;
  }
  h2{
    color: blue;
    font-size: 40px;
    margin-left: 300px;
}
h3{
  color: blue;
}
  .me {
    display: block;
    margin-left: 110px;
  }
  .name {
    display: block;
    margin-left: 70px;
  }
  .cont {
    margin-left: 75px;
  }
  span {
    color: #f44336;
  }
  .u2 {

  margin-left: 500px;

}
  